[Unit]
Description=Maintain a wifi hotspot and control WLED
After=syslog.target network.target network-online.target
Requires=network-online.target

[Service]
User=root
EnvironmentFile=/home/pi/nostmack-hub/config.env
WorkingDirectory=/home/pi/nostmack-hub
ExecStart=python -u /home/pi/nostmack-hub/start_service.py
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
